/* --- RADIO GROUP (Tipo de Evento) --- */
.radio-group {
  display: flex;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  padding: 4px;
  gap: 4px;
  min-height: 46px;
  box-sizing: border-box;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.radio-card {
  flex: 1;
  display: flex;
  cursor: pointer;

  input {
    display: none;
  }

  .radio-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10.5px 10px;
    border-radius: 6px;
    transition: all 0.2s;

    /* Estado Inativo */
    font-family: var(--open-sans);
    font-size: 14px;
    font-weight: 400;
    color: var(--text-body);

    svg {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      stroke: var(--input-placeholder);
      fill: none;
    }
  }

  input:checked + .radio-content {
    background-color: var(--shape-button);
    color: var(--text-heading);
    letter-spacing: -0.02em;
    font-weight: 600;

    svg {
      stroke: var(--brand-light);
    }
  }
}

/* --- THEME GRID (Cards de Temas) --- */
.event-grid {
  display: grid;
  grid-template-columns: repeat(4, 134px);
  gap: 8px;
  margin-top: 16px;
}

.theme-card input {
  display: none;
}

.theme-content {
  cursor: pointer;
  background-color: var(--shape-button);
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  padding: 4px 4px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease;
  outline: 2px solid transparent;
  outline-offset: -3px;

  img {
    width: 100%;
    height: 76px;
    border-radius: 4px;
    object-fit: cover;
  }

  span {
    font-family: var(--open-sans);
    font-weight: 400;
    font-size: 14px;
    color: var(--text-body);
  }
}

.theme-card input:checked + .theme-content {
  outline-color: var(--brand-light);
  outline-offset: -2px;

  span {
    color: var(--text-heading);
  }
}

/* --- COLOR PICKER (Círculos de Cores) --- */
.color-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 8px;
  margin-bottom: 1.75rem;
  width: 100%;
}

.color-option {
  cursor: pointer;
  line-height: 0;

  input {
    display: none;
  }
}

.color-picker-circle {
  width: 40px;
  height: 40px;
  border: 6px solid var(--shape-button);
  border-radius: 999px;
  background-color: var(--circle-color, #ccc);
  box-sizing: border-box;
  display: block;
  transition: all 0.2s ease;
  outline: 2px solid transparent;
  outline-offset: -2px;
}

.color-option input:checked + .color-picker-circle {
  outline: 2px solid var(--brand-light);
  outline-offset: -2px;
  border-color: var(--shape-button);
}

/* --- SWITCH (Claro/Escuro) --- */
.theme-switch-container {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.switch-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
  height: 46px;
}

.dark-light {
  cursor: pointer;
  width: 64px;
  height: 32px;
  border-radius: 999px;
  justify-content: flex-start;
  padding: 0 4px;
  display: flex;
  align-items: center;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  transition: background-color 0.2s ease, border-color 0.2s ease;
  appearance: none;
}

.toggle-circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--input-stroke);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s;
}

.dark-light.active {
  background-color: var(--brand-light);
  border-color: var(--input-stroke);

  .toggle-circle {
    background-color: var(--text-heading);
    transform: translateX(30px);
  }
}

/* Fixar a posição do botão e evitar que o texto o mova */
.archive-selection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin-left: 20px;
}

/* --- UPLOAD COMPONENT --- */
.upload-wrapper {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
  height: 46px;
}

#archive-button {
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--shape-button);
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  flex-shrink: 0;

  span {
    color: var(--text-heading);
    font-weight: 600;
    font-size: 16px;
  }

  .upload {
    width: 16px;
    height: 16px;
    color: var(--brand-light);
  }
}

.file-status {
  font-weight: 400;
  font-size: 14px;
  color: var(--input-placeholder);
  flex: 1;
  min-width: 150px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.error-message {
  visibility: hidden;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--danger);
  font: var(--body-xs);
  font-weight: 400;
  margin-top: -7px;
  width: 100%;

  svg {
    width: 16px;
    height: 16px;
    fill: var(--danger);
  }
}

/* Estilo específico para o erro de upload via JS */
#error-upload {
  margin-top: 8px;
  display: none;
}

/* --- LABELS ESPECÍFICOS --- */
.theme-text-2 {
  display: block;
  font-weight: 400;
  margin-top: 28px;
  color: var(--text-body);
}

.customization-white {
  color: var(--customization-white) !important;
}
