:root {
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;
  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;
  --danger: #FF5959;
  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;
  --scrollbar-color: #50555a;
  --shape-surface: #29292E;
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;
  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;
  --leckerli: 'Leckerli One', cursive;
  --baloo: 'Baloo 2', 'Open Sans', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
  --logo: 400 40px var(--leckerli);
  --heading-md: 700 28px var(--baloo);
  --heading-sm: 700 18px var(--baloo);
  --body-md: 600 16px var(--open-sans);
  --body-sm: 600 14px var(--open-sans);
  --body-xs: 600 12px var(--open-sans);
}

/* Classe geral para todos os SVGs */
.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  transition: color 0.2s ease;
}

body {
  font: var(--body-sm);
  color: var(--text-body);
  background-color: var(--shape-body);
}

