#app {
  display: grid;
  grid-template-columns: 25rem 1fr;
  column-gap: 20px;

  max-width: 76.25rem;
  width: 100%;
  height: 100vh;
  margin: 0 auto;

  border: 20px solid var(--shape-background);
  border-radius: 12px;
  background-color: var(--shape-background);
  overflow: hidden;
}

/* --- SIDEBAR AREA --- */
aside {
  overflow: hidden;
}

aside .aside-container {
  height: 100%;
  width: 100%;
  background: url("../img/background.png") no-repeat center/cover;
  padding: 32px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
}

aside .logo {
  width: 46px;
  height: 48px;
  display: block;
  margin-bottom: 1rem;
  flex-shrink: 0;
}

aside h1 {
  font: var(--logo);
  color: var(--pink);
}

aside p {
  font: var(--body-md);
  font-weight: 300;
  color: var(--text-heading);
  -webkit-font-smoothing: antialiased;
}

/* --- MAIN CONTENT AREA --- */
main {
  background-color: var(--shape-body);
  border-radius: 12px;
  overflow-y: auto;
  padding: 4rem 2rem;
}

/* Custom Scrollbar para o Main */
main::-webkit-scrollbar {
  width: 8px;
}

main::-webkit-scrollbar-track {
  background: var(--shape-body);
  border-radius: 12px;
}

main::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
  border: 2px solid var(--shape-body);
}

/* Centralizador do Formulário */
main .main-container {
  max-width: 35rem;
  margin: 0 auto;
}

h2 {
  font: var(--heading-md);
  color: var(--text-heading);
}

/* Ajuste de layout específico do container de configurações finais */
.main-settings-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 55px;
}
