#app {
  display: grid;

  grid-template-columns: 25rem 1fr;
  column-gap: 20px;

  max-width: 76.25rem;
  width: 100%;
  height: 100vh;
  margin: 0 auto;

  border: 20px solid var(--shape-background);
  border-radius: 12px;
  background-color: var(--shape-background);
  overflow: hidden;
}

aside {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

aside .aside-container {
  height: 100%;
  width: 100%;
  background: url("/assets/img/background.png") no-repeat center/cover;
  padding: 32px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
}

aside .logo {
  width: 46px;
  height: 48px;
  display: block;
  margin-bottom: 1rem;
  flex-shrink: 0;
}

aside h1 {
  font: var(--logo);
  color: var(--pink);
}

aside p {
  font: var(--body-md);
  font-weight: 300;
  color: var(--text-heading);

  -webkit-font-smoothing: antialiased;
}

main {
  background-color: var(--shape-body);
  border-radius: 12px;
  overflow-y: auto;

  padding: 4rem 2rem;
}

main::-webkit-scrollbar {
  width: 8px;
}

main::-webkit-scrollbar-track {
  background: var(--shape-body);
  border-radius: 12px;
}

main::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
  border: 2px solid var(--shape-body);
}

main .main-container {
  max-width: 33rem;
  margin: 0 auto;
}
